<%
  title @gemfile.name
  header_title @gemfile.name
%>

<% header_content do %>
    <div class="flex">
      <div>
        <div class="flex items-center space-x-3">
          <h1 class="mr-2 text-3xl font-bold tracking-tight text-white">
            <%= content_for?(:header_title) ? (yield(:header_title)).html_safe : "Gemfile" %>
          </h1>
          <% if @gemfile.app_link.present? %>
            <%= link_to '<i class="text-xl text-white fa-solid fa-link hover:text-amber-300"></i>'.html_safe, @gemfile.app_link %>
          <% end %>

          <% if @gemfile.github_link.present? %>
            <%= link_to '<i class="text-xl text-white fa-brands fa-github hover:text-amber-300"></i>'.html_safe, @gemfile.github_link %>
          <% end %>
        </div>
        <span class="text-sm text-white">
          Submitted by <%= @gemfile.user.name %>
        </span>
      </div>
    </div>
<% end %>

<% header_action do %>
  <div class="mt-3 sm:mt-0 sm:ml-4">
    <% if current_user == @gemfile.user  %>
      <%= link_to "Edit", edit_gemfile_path(@gemfile), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      <div class="inline-block ml-2">
        <%= button_to "Destroy", gemfile_path(@gemfile), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
      </div>
    <% end %>
  </div>
<% end %>

<div class="flex w-full">
  <div class="mx-auto">
    <%= render @gemfile %>
  </div>
</div>
