<%
  title @gemfile.name
  header_title @gemfile.name
%>

<% content_for(:head) do %>
  <link rel="stylesheet" href="https://ga.jspm.io/npm:tippy.js@6.3.7/dist/tippy.css">
  <link rel="stylesheet" href="https://ga.jspm.io/npm:tippy.js@6.3.7/themes/light.css">
<% end %>

<% header_content do %>
    <div class="flex">
      <div>
        <div class="flex items-center space-x-3">
          <h1 class="mr-2 text-3xl font-bold tracking-tight text-white">
            <%= content_for?(:header_title) ? (yield(:header_title)).html_safe : "Gemfile" %>
          </h1>
          <% if @gemfile.app_link.present? %>
            <%= link_to '<i class="text-xl text-white fa-solid fa-link hover:text-amber-300"></i>'.html_safe, @gemfile.app_link %>
          <% end %>

          <% if @gemfile.github_link.present? %>
            <%= link_to '<i class="text-xl text-white fa-brands fa-github hover:text-amber-300"></i>'.html_safe, @gemfile.github_link %>
          <% end %>
        </div>
        <div class="flex items-center text-sm text-white">
          Submitted by <span class="flex items-center ml-2 space-x-1"><%= image_tag @gemfile.user.image, class: 'w-4 h-4 rounded-full' %> <b>
          <% if @gemfile.user.x_username.present? %>
            <%= link_to "@#{@gemfile.user.x_username}", "https://x.com/#{@gemfile.user.x_username}", class: 'hover:underline' %>
          <% elsif @gemfile.user.github_username.present? %>
            <%= link_to "@#{@gemfile.user.github_username}", "https://github.com/#{@gemfile.user.github_username}", class: 'hover:underline' %>
          <% else %>
            <%= @gemfile.user.name %>
          <% end %>
          </b></span>
        </div>
        <% if @gemfile.notes.present? %>
          <p class="mt-3 text-xs italic text-white"><%= @gemfile.notes %></p>
        <% end %>
      </div>
    </div>
<% end %>

<% header_action do %>
  <div class="flex items-center mt-3 space-x-3 sm:mt-0 sm:ml-4">
    <%= render partial: 'favorite', locals: {gemfile: @gemfile} %>
    <% if current_user == @gemfile.user  %>
      <%= link_to "Edit", edit_gemfile_path(@gemfile), class: "rounded-lg py-3 px-5 bg-white font-medium" %>
      <%= button_to "Destroy", gemfile_path(@gemfile), method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove this Gemfile?" }, class: "rounded-lg py-3 px-5 bg-white font-medium" %>
    <% end %>
  </div>
<% end %>

<div class="flex w-full">
  <%= render @gemfile %>
</div>
