<!DOCTYPE html>
<html class="h-full bg-gray-100">
  <head>
    <title><%= content_for?(:title) ? ("#{yield(:title)} - gemfile.directory").html_safe : "gemfile.directory — view gemfiles of your favorite rails apps" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <meta name="title" content="<%= content_for?(:title) ? ("#{yield(:title)} - gemfile.directory").html_safe : "gemfile.directory" %>">
    <meta name="description" content="<%= content_for?(:description) ? (yield(:description)) : "A directory of Rails Gemfiles for inspiration and learning!" %>">

    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#F6D565">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#F6D565">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <script src="https://kit.fontawesome.com/be36ab9559.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/arta.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>

    <script>
      document.addEventListener('turbo:load', () => {
        hljs.highlightAll();
      })
    </script>

    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <body class="h-full font-mono">
    <div class="min-h-full">
      <div class="pb-32 bg-black">
        <nav class="bg-black border-b border-opacity-25 border-neutral-300 lg:border-none" data-controller="reveal" data-reveal-hidden-class="hidden">
          <div class="px-2 mx-auto max-w-7xl sm:px-4 lg:px-8">
            <div class="relative flex items-center justify-between h-16 lg:border-b lg:border-neutral-400 lg:border-opacity-25">
              <div class="flex items-center px-2 lg:px-0">
                <div class="flex-shrink-0">
                  <%= link_to root_path, class: 'flex items-center space-x-3' do %>
                  <i class="text-3xl text-white fa-regular fa-gem"></i> <div class="text-white">gemfile<span class="text-amber-300">.directory</span></div>
                  <% end %>
                </div>
                <div class="hidden lg:ml-10 lg:block">
                  <div class="flex space-x-4">
                    <!-- Current: "bg-neutral-700 text-white", Default: "text-white hover:bg-neutral-500 hover:bg-opacity-75" -->
                    <%= link_to "Latest Gemfiles", root_path, class: "px-3 py-2 text-sm font-medium text-black rounded-md bg-amber-300", aria: { current: "page" } %>
                  </div>
                </div>
              </div>
              <div class="flex justify-center flex-1 px-2 lg:ml-6 lg:justify-end">
                <div class="w-full max-w-lg opacity-40 lg:max-w-xs">
                  <label for="search" class="sr-only">Search</label>
                  <div class="relative text-gray-400 focus-within:text-gray-600">
                    <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                      <svg class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z" clip-rule="evenodd" />
                      </svg>
                    </div>
                    <input id="search" class="block w-full rounded-md border-0 bg-white py-1.5 pl-10 pr-3 text-gray-900 focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-neutral-600 sm:text-sm sm:leading-6" placeholder="Search (doesn't work yet)" type="search" name="search">
                  </div>
                </div>
              </div>
              <div class="flex lg:hidden">
                <!-- Mobile menu button -->
                <button type="button" class="relative inline-flex items-center justify-center p-2 rounded-md text-neutral-200 bg-neutral-600 hover:bg-neutral-500 hover:bg-opacity-75 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-neutral-600" aria-controls="mobile-menu" aria-expanded="false" data-action="click->reveal#toggle">
                  <span class="absolute -inset-0.5"></span>
                  <span class="sr-only">Open main menu</span>
                  <!-- Menu open: "hidden", Menu closed: "block" -->
                  <svg class="block w-5 h-5" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-reveal-target="item">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                  </svg>
                  <!-- Menu open: "block", Menu closed: "hidden" -->
                  <svg class="hidden w-5 h-5" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-reveal-target="item">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                  </svg>
                </button>
              </div>

              <% if current_user %>
              <div class="hidden lg:ml-4 lg:block">
                <div class="flex items-center">
                  <!-- Profile dropdown -->
                  <div class="relative flex-shrink-0 ml-3" data-controller="dropdown">
                    <div>
                      <button type="button" class="relative flex text-sm text-white rounded-full bg-neutral-600 focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-neutral-600" id="user-menu-button" aria-expanded="false" aria-haspopup="true" data-action="dropdown#toggle click@window->dropdown#hide">
                        <span class="absolute -inset-1.5"></span>
                        <span class="sr-only">Open user menu</span>
                        <%= image_tag current_user.image, class: 'w-8 h-8 rounded-full' %>
                      </button>
                    </div>

                    <div class="absolute right-0 z-10 w-48 py-1 mt-2 origin-top-right bg-white rounded-md shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1" data-dropdown-target="menu">
                      <!-- Active: "bg-gray-100", Not Active: "" -->
                      <%= button_to 'Sign out', sign_out_path, method: :delete, class: "block px-4 py-2 text-sm text-gray-700", data: { turbo: false } %>
                    </div>
                  </div>
                </div>
              </div>
              <% else %>
              <%= button_to '<i class="text-xl fa-brands fa-github"></i> <span>Sign in</span>'.html_safe, "/auth/github", class: 'bg-white text-sm rounded-md px-3 py-2 flex space-x-2', data: { turbo: false } %>
              <% end %>
            </div>
          </div>

          <!-- Mobile menu, show/hide based on menu state. -->
          <div class="hidden" id="mobile-menu" data-reveal-target="item">
            <div class="px-2 pt-2 pb-3 space-y-1">
              <!-- Current: "bg-neutral-700 text-white", Default: "text-white hover:bg-neutral-500 hover:bg-opacity-75" -->
              <%= link_to "Latest Gemfiles", root_path, class: "block px-3 py-2 text-base font-medium text-white rounded-md bg-neutral-700", aria: { current: "page" } %>
            </div>
            
            <% if current_user %>
            <div class="pt-4 pb-3 border-t border-neutral-700">
              <div class="flex items-center px-5">
                <div class="flex-shrink-0">
                  <%= image_tag current_user.image, class: 'w-10 h-10 rounded-full' %>
                </div>
                <div class="ml-3">
                  <div class="text-base font-medium text-white"><%= current_user.name %></div>
                  <div class="text-sm font-medium text-neutral-300"><%= current_user.email %></div>
                </div>
              </div>
              <div class="px-2 mt-3 space-y-1">
                <%= button_to 'Sign out', sign_out_path, method: :delete, class: "block px-3 py-2 text-base font-medium text-white rounded-md hover:bg-neutral-500 hover:bg-opacity-75", data: { turbo: false } %>
              </div>
            </div>
            <% end %>



          </div>
        </nav>
        <header class="py-10">
          <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
            <div class="sm:flex sm:items-center sm:justify-between">
              <%= content_for?(:header_content) ? (yield(:header_content)).html_safe : "<h1 class='flex-1 text-3xl font-bold tracking-tight text-white'>#{content_for?(:header_title) ? (yield(:header_title)).html_safe : "Latest Gemfiles"}</h1>".html_safe %>
              <%= content_for?(:header_action) ? (yield(:header_action)).html_safe : "" %>
            </div>
          </div>
        </header>
      </div>

      <main class="-mt-32">
        <div class="px-4 pb-12 mx-auto max-w-7xl sm:px-6 lg:px-8">
          <div class="px-5 py-6 bg-white rounded-lg shadow sm:px-6">

            <% if flash[:success] || flash[:notice] %>
            <div class="p-4 mb-4 rounded-md bg-green-50">
              <div class="flex">
                <div class="flex-shrink-0">
                  <i class="w-5 h-5 text-green-400 fa-duotone fa-check-circle"></i>
                </div>
                <div class="ml-3">
                  <h3 class="text-sm font-medium text-green-800"><%= flash[:success] || flash[:notice] %></h3>
                </div>
              </div>
            </div>
            <% elsif flash[:alert] || flash[:error] %>
            <div class="p-4 mb-4 rounded-md bg-red-50">
              <div class="flex">
                <div class="flex-shrink-0">
                  <i class="w-5 h-5 text-red-400 fa-duotone fa-exclamation-circle"></i>
                </div>
                <div class="ml-3">
                  <h3 class="text-sm font-medium text-red-800"><%= flash[:alert] || flash[:error] %></h3>
                </div>
              </div>
            <% end %>
            
            <%= yield %>
          </div>
        </div>
      </main>

      <footer class="">
        <div class="items-center px-6 py-12 mx-auto max-w-7xl md:flex gap-x-4 lg:px-8">
          <div class="mt-8 md:order-1 md:mt-0">
            <p class="text-sm leading-5 text-center text-gray-500">Made by <a href="https://twitter.com/Shpigford" class="text-amber-500">@Shpigford</a>. Want to help? <a href="https://github.com/Shpigford/gemfile.directory" class="text-amber-500">It's open source!</a></p>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
